<html>
<head>
    <style type="text/css">
        img {
            border: 1px solid gray;
        }
        body {
            font-family:sans-serif;
            background-color: #d3d3d3;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<ul>
    #foreach($page in $pages.keySet())
        <li><a href="#${page.id}">${page.title} (${page.category})</a></li>
    #end
</ul>
    #foreach($page in $pages.keySet())
        #if(${pages.get($page)} != "")
            <a name="${page.id}"></a>
            <h2>${page.title} (${page.category})</h2>
            <p>
                ${pages.get($page)}
            </p>
            <p>${page.url}</p>
            <br>
        #end
    #end

</body>
</html>